:root {
  --theme-color: #5BBB7B;
  --theme-color-darker: #1F4B3F;
  --theme-color-lighter: #5bbb7b1a;
}

* {
	/* font-family: 'Raleway', sans-serif !important; */
	font-family: 'Poppins', sans-serif !important;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1efef00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c3d027c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0aa9355b;
}




.bg-theme {
  background-color: var(--theme-color) !important;
}
.text-theme {
  color: var(--theme-color) !important;
}
.bg-theme-darker {
  background-color: var(--theme-color-darker) !important;
}
.bg-theme-lighter {
  background-color: var(--theme-color-lighter) !important;
}
